.about {
    position: relative;
    top: 2rem;
    padding: 15px;
    left: 5rem;
    width: 30rem;
    background-color: rgb(19, 158, 77);
    border-radius: 20px;
    line-height: 1.8;
}

.deltaruneIcon-ral {
    position: absolute;
    top: 1.5rem;
    left: 63rem;
    width: 7rem;
    transition: 0.6s;
}

.deltaruneIcon-ral:hover {
    transform: scale(1.3);
}


.design-image {
    display: flex;
    position: relative;
    gap: 40px;
    bottom: 31rem;
    left: 40rem;
}

.design-image-text {
    display: flex;
    position: absolute;
    font-size: 14px;
    padding: 15px;
    gap: 30px;
    right: 41.5rem;
    top: 29rem;
    white-space: nowrap;
}


.container {
    display: flex;
    position: relative;
    background-color: rgb(19, 158, 77);
    border-radius: 5px;
    padding: 12px;
    gap: 3rem;
    bottom: 20rem;
}

.persona {
    display: block;
    width: 40rem;
    line-height: 1.2;
}

.stats {
    display: block;
    position: relative;
    width: 40rem;
}

.stat-name {
    display: grid;
    grid-template-columns: repeat(6, 6rem);
    position: relative;
    padding: 8px;
    gap: 15px;
    right: 1.5rem;
    align-items: center;
    justify-items: center;
}

.stat-table {
    display: grid;
    grid-template-columns: repeat(6, 6rem);
    position: relative;
    padding: 8px;
    gap: 14px;
    right: 1.3rem;
    align-items: center;
    justify-items: center;
}

.hist {
    display: block;
    position: relative;
    bottom: 12.5rem;
    background-color: rgb(19, 158, 77);
    padding: 15px;
    text-align: justify;
    border-radius: 5px;
}

.gallery-container {
    position: relative;
    padding: 5px;
    background-color: rgb(19, 158, 77);
    margin: 2rem 7rem 5rem;
    bottom: 6.5rem;
    border-radius: 5px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 20rem);
    align-items: center;
    justify-items: center;
}

.gallery img {
    background-color: rgb(19, 158, 77);
    margin: 1rem;
    border: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
    transition: 0.3s;
}

.gallery img:hover {
    transform: scale(1.8);
}

@media screen and (max-width: 1366px) and (max-height: 768px) {
    .party-link {
        left: 64vw;
    }
    .deltaruneIcon {
        left: 80%;
    }
    .design-image {
        left: 49vw;
        bottom: 30.5rem;
    }
    .design-image-text {
        right: 50.5vw;
        top: 74vh;
    }
    .top-header {
        left: 0vw;
        height: 3.5vw;
    }
}